body{
  background-color: #FFF
  text-align: center;

}
.header{
    margin-top: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Book Antiqua", Palatino, serif;
    font-style: normal;
    border-style: solid;
    align-self: center;
    text-align: center;
}
.nav {
  color: black;
}
.github img{
  height:50px;
  width:inherit;
}
.linkedin img{
  height:40px;
  width:inherit;
}
.contact {
  margin-top: 500px;
}
.links {

    padding-top: 250px;

}
